<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="example">
    <div class="box-main">
        <div class="box box-one">
            <h2>1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, iste!</p>
        </div>
        <div class="box box-two">
            <h2>2</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat accusamus ab illo inventore. Amet sit quasi repudiandae illo tempora mollitia quos vel necessitatibus culpa? Tenetur sit ipsam molestiae ea! Deleniti.</p>
        </div>
        <div class="box box-three">
            <h2>3</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, iste!</p>
        </div>
        <div class="box box-four">
            <h2>4</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, iste!</p>
        </div>
        <div class="box box-five">
            <h2>5</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, iste!</p>
        </div>
    </div>
</body>
</html>