<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carta Resto</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="home">
    <div class="home__box">
        <header class="home__header">
            <h1>Nuestro Restó</h1>
            <h2>Carta</h2>
        </header>
        <aside class="home__aside">
            <nav class="home__aside__nav">
                <ul>
                    <li><a href="#entradas">Entradas</a></li>
                    <li><a href="#platos">Platos principales</a></li>
                    <li>Ensaladas</li>
                    <li>Raws</li>
                    <li><a href="#postres">Postres</a></li>
                    <li>Desayuno y Meriendas</li>
                    <li>Bebidas</li>
                    <li>Smoothies</li>
                    <li>Té y café</li>
                    <li>Vinos</li>
                    <li>Cervezas</li>
                </ul>
            </nav>
        </aside>
        <main class="home__main">
            <section class="home__main__section" id="entradas">
                <h3>Entradas</h3>
                <article class="home__main__section__article">
                    <h4>
                        Muzzarella Sticks
                    </h4>
                    <p>
                        Bastones de muzzarella rebozados
                    </p>
                </article>
                <article class="home__main__section__article">
                    <h4>
                        Jalapeños rellenos
                    </h4>
                    <p>
                        Jalapeños rellenos de langostinos
                        y queso Cheddar con panceta.
                    </p>
                </article>
                <article class="home__main__section__article">
                    <h4>
                        Ración de Rabas
                    </h4>
                    <p>
                        220 gr. de chicharrón de calamar
                        frito con alioli
                    </p>
                </article>
                <article class="home__main__section__article">
                    <h4>
                        Ración de papas fritas con Cheddar y verdeo
                    </h4>

                </article>
                <article class="home__main__section__article">
                    <h4>
                        Chicken Wings
                    </h4>
                    <p>
                        Alitas de pollo empanada y frita con salsa BBQ
                    </p>
                </article>
                <article class="home__main__section__article">
                    <h4>
                        Croquetas de hongos
                    </h4>
                    <p>
                        Croquetas elaboradas a base de hongos disecados.
                    </p>
                </article>
                <article class="home__main__section__article">
                    <h4>
                        Langostinos en cous cous
                    </h4>
                    <p>
                        Langostinos a la plancha con frutos secos, tomates
                        cherry, albahaca y cous cous
                    </p>
                </article>
                <article class="home__main__section__article">
                    <h4>
                        Chipirones a la plancha
                    </h4>
                    <p>
                        Con chutney de mango y sandía a la plancha
                    </p>
                </article>
                <article class="home__main__section__article">
                    <h4>
                        Nachos con refrito
                    </h4>
                    <p>
                        Nachos salteados con porotos negros, chorizo
                        colorado y salsa BBQ
                    </p>
                </article>

                <article class="home__main__section__article">
                    <h4>
                        Tapa de morcilla
                    </h4>
                    <p>
                        Pan casero de campo, morcilla, verdeo y queso brie.
                    </p>
                </article>
                <article class="home__main__section__article">
                    <h4>
                        Tapa de campo
                    </h4>
                    <p>
                        Morcilla, papa, chutney de manzana y crema de eneldo
                    </p>
                </article>
                <article class="home__main__section__article">
                    <h4>
                        Tapa de mollejas
                    </h4>
                    <p>
                        Mollejas con mango, ananá, jengibre, chiles y
                        pochoclo.
                    </p>
                </article>
                <a href="#" class="home__main__section--back">Volver arriba</a>
            </section>
            <section class="home__main__section" id="platos">
                <h3>
                    Platos Principales
                </h3>
                <article class="home__main__section__article">
                    <h4>
                        Bife Criollo
                    </h4>
                    <p>
                        Ojo de bife con patines andinos, ensalada de rúcula,
                        provolone y salsa criolla
                    </p>
                </article>
                <article class="home__main__section__article">
                    <h4>
                        Ensalada Caesar
                    </h4>
                    <p>
                        Con langostinos o con Pollo
                    </p>
                    <p>
                        Clásica Caesar Salad con pollo grillado o
                        langostinos
                    </p>
                </article>
                <article class="home__main__section__article">
                    <h4>
                        Penne Rigatte
                    </h4>
                    <p>
                        Con salsa filete, crema o rosa.
                    </p>
                </article>
                <article class="home__main__section__article">
                    <h4>
                        Ensalada de langostinos
                    </h4>
                    <p>
                        Langostinos salteados, trabajito, cebolla de verdeo
                        y mango con dressing de naranja, vinagre y
                        aceite de oliva.
                    </p>
                </article>
                <article class="home__main__section__article">
                    <h4>
                        Ceviche (elaborado en el momento)
                    </h4>
                    <p>
                        Pesca del día del barrio chino con cebolla morada,
                        ajo, rocoto, apio, cilantro, jengibre, maíz
                        cancha, batata y leche de tigre.
                    </p>
                </article>
                <article class="home__main__section__article">
                    <h4>
                        Pesca con Chop Suey
                    </h4>
                    <p>
                        Pesca del día a la plancha con olivas, ajo y
                        alcaparras, acompañada de chop suey de vegetales.
                    </p>
                </article>
                <article class="home__main__section__article">
                    <h4>
                        Pesca a la plancha
                    </h4>
                    <p>
                        Con risotto verde de espárragos y remolacha asada.
                    </p>
                </article>
                <article class="home__main__section__article">
                    <h4>
                        Bife T-Bone </h4>
                    <p>
                        600 gas de carne corte T-Bone con chimichurri,
                        patines andinos y encurtido de remolacha.
                    </p>
                </article>
                <article class="home__main__section__article">
                    <h4>
                        Pechuguitas Ahumadas
                    </h4>
                    <p>
                        Pechugas de pollo ahumadas, rellenas con duxelle de
                        hongos y cebolla. Servido con arroz con mostaza
                        y
                        naranjas almendradas </p>
                </article>
                <article class="home__main__section__article">
                    <h4>
                        Carré de cerdo
                    </h4>
                    <p>
                        Con Chutney de zanahorias y batatas glaseadas con
                        salsa teriyaki.
                    </p>
                </article>
                <article class="home__main__section__article">
                    <h4>
                        Sorrentinos verdes
                    </h4>
                    <p>
                        Rellenos con calabaza asada y queso brie, perfumados
                        con manteca de hierbas y jugo de pomelo.
                    </p>
                </article>
                <a href="#" class="home__main__section--back">Volver arriba</a>
            </section>
            <section class="home__main__section" id="postres">
                <h3>
                    Postres
                </h3>
                <article class="home__main__section__article">
                    <h4>
                        Flan Casero
                    </h4>
                    <p>
                        Nuestro clásico flan con dulce de leche y crema.
                    </p>
                </article>
                <article class="home__main__section__article">
                    <h4>
                        Ensalada de frutas
                    </h4>
                </article>
                <article class="home__main__section__article">
                    <h4>
                        Fondue de chocolate
                    </h4>
                    <p>
                        Con frutas frescas fileteadas.
                    </p>
                </article>
                <article class="home__main__section__article">
                    <h4>
                        Crocante de Banana y Nutella
                    </h4>
                </article>
                <article class="home__main__section__article">
                    <h4>
                        Degustación de Mousses
                    </h4>
                    <p>
                        Mousse de mango, chocolate, moka y frutos rojos.
                    </p>
                </article>
                <article class="home__main__section__article">
                    <h4>
                        Cheesecake
                    </h4>

                </article>
                <a href="#" class="home__main__section--back">Volver arriba</a>
            </section>
        </main>
    </div>
    <footer class="home__footer">
        <div class="home__footer__box">
            <img src="/img/logo-web.png" alt="santa maria bar">
            <nav class="home__footer__nav">
                <a href="">Contacto</a>
                <ul>
                    <li>
                        <a href="">facebook</a>
                    </li>
                    <li>
                        <a href="">twitter</a>
                    </li>
                    <li>
                        <a href="">Instagram</a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
</body>

</html>